<% provide :title, "Log in" %>
<h1>SessionsController#new</h1>
<div>
  <%= form_for(:session, url: login_path) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.submit "ログイン", class: "btn btn-success" %>
  <% end %>
</div>
